{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block title %}
    <title>BitPass - Password Manager</title>
    {% endblock %}

    <!-- CSS FILE -->
    <link rel="stylesheet" href="{% static 'styles/tailwind.css' %}" />

    <!-- GOOGLE FONT (INTER) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-snow font-inter">
    <!-- CONTENT WRAPPER -->
    <div class="container mx-auto">{% block content %} {% endblock %}</div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
