{% extends 'main.html' %} {% load static %} {% block title %}
<title>BitPass | Add Password</title>
{% endblock %} {% block content %}

<!-- NAVBAR -->
<nav
  class="bg-snow flex justify-between items-center shadow-lg rounded-lg mt-6 p-4 mx-5"
>
  <!-- LOGO -->
  <a href="{% url 'home' %}"
    ><img
      src="{% static 'images/logo.svg' %}"
      alt="Logo"
      class="w-3/4 sm:w-full"
  /></a>

  <!-- NAV ITEM -->
  {% include './components/nav-item-component.html' %}

  <!-- ADD NEW CATEGORIES BUTTON FOR DESKTOP -->
  {% include './components/add-category-btn-dsk-component.html' %}

  <!-- USER DROP DOWN MENU -->
  {% include './components/user-menu-component.html' %}
</nav>

<!-- ADD NEW CATEGORIES BUTTON FOR MOBILE -->
{% include './components/add-category-btn-mb-component.html' %}

<!-- MAIN CONTENT -->
<main class="mt-10 mx-5 xl:mx-16">
  <!-- HEADING -->
  <h1 class="text-dark-violet text-xl font-semibold sm:text-2xl lg:text-4xl">
    Add Password
  </h1>

  <!-- ADD NEW PASSWORD FORM -->
  <form action="{% url 'add-password' %}" method="POST" class="my-12">

    {% csrf_token %}

    <!--ACCOUNT'S PASSWORD DETAILS -->
    <div
      class="flex flex-col items-center gap-3 mb-14 relative after:content-['*'] after:absolute after:text-red-500 after:top-20 after:right-0 md:flex-row md:after:top-5 md:after:right-11 lg:after:right-28 xl:after:right-36 2xl:after:right-52"
    >
      <!-- WEBSITE / APP LOGO -->
      <div
        class="account-password-logo w-20 h-20 rounded-full shadow-lg text-light-violet text-3xl font-medium flex flex-col items-center justify-center placeholder:text-gray focus:outline-none md:h-28 md:w-28 account-logo"
      >
        ET
      </div>
      <!-- WEBSITE / APP NAME -->
      <input
        type="text"
        name="title"
        placeholder="Enter title here..."
        class="font-inter font-normal text-base text-dark-violet bg-snow rounded-lg shadow-lg px-6 py-4 w-full focus:outline-none md:w-3/4 account-title"
        required
      />
    </div>

    <!-- URL INPUT -->
    <div class="add-password-form-control">
      <label for="url" class="add-password-label">URL (If Available):</label>
      <input
        type="text"
        name="url"
        placeholder="Eg.www.gmail.com"
        class="add-password-input account-url"
      />
    </div>

    <!-- CATEGORY INPUT -->
    <div class="add-password-form-control">
      <label for="category" class="add-password-label sm:ml-[3.2rem]"
        >Category:</label
      >
      <select
        name="category"
        class="bg-snow border-none rounded-lg shadow-lg pl-6 pr-4 py-4 text-dark-violet focus:outline-none"
      >
      {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>  
      {% endfor %}
      </select>
    </div>

    <!-- USERNAME INPUT -->
    <div class="add-password-form-control">
      <label for="username" class="add-password-label sm:ml-[2.8rem]"
        >Username:</label
      >
      <input
        type="text"
        name="username"
        placeholder="Eg._rahul123_"
        class="add-password-input"
      />
    </div>

    <!-- EMAIL INPUT -->
    <div class="add-password-form-control">
      <label
        for="url"
        class="add-password-label relative after:content-['*'] after:absolute after:ml-0.5 after:text-red-500 sm:ml-5 sm:after:-top-2 sm:after:ml-0"
        >Email Address:</label
      >
      <input
        type="email"
        name="email"
        placeholder="Eg.rahul123@gmail.com"
        class="add-password-input"
        required
      />
    </div>

    <!-- PASSWORD INPUT -->
    <div class="add-password-form-control relative">
      <label
        for="password"
        class="add-password-label relative after:content-['*'] after:absolute after:ml-0.5 after:text-red-500 sm:ml-12 sm:after:-top-2 sm:after:ml-0"
        >Password:</label
      >
      <input
        type="password"
        name="password"
        placeholder="Enter Password..."
        class="add-password-input"
        required
      />
      <img
        src="{% static 'images/icons/eye-invisible-ic.svg' %}"
        alt="Show Password"
        class="show-password-ic password-toggle hover:cursor-pointer"
      />
      <img
        src="{% static 'images/icons/eye-visible-ic.svg' %}"
        alt="Hide Password"
        class="hide-password-ic hidden password-toggle hover:cursor-pointer"
      />
    </div>

    <!-- FORM BUTTONS -->
    <div class="flex items-center justify-start gap-6 mt-12">
      <!-- CANCEL BUTTON -->
      <button
        class="add-password-cancel border border-solid border-gray rounded-md px-5 py-2 bg-transparent text-base text-dark-violet font-inter hover:cursor-pointer hover:scale-110 transition-transform"
      >
        Cancel
      </button>

      <!-- SAVE BUTTON -->
      <input
        type="submit"
        value="Save"
        class="bg-light-violet border-none rounded-md px-6 py-2 text-base text-snow hover:cursor-pointer hover:scale-110 transition-transform"
      />
    </div>
  </form>
</main>

<!-- ADD CATEGORIES MODAL -->
{% include './components/add-category-modal-component.html' %}

<!-- TOAST FOR SUCCESS OR ERROR MESSAGE -->
{% include './components/toast-component.html' %}

{% endblock %}
